.barcodeContainer {
  text-align: center;
}

.svgContainer {
  background-color: #f5f5f5;
  min-height: 200px;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 25px 5px 20px 5px;
}

.svgContainer .svgElement {
  max-width: 100%;
  background-color: #fff;
}
